body{
     background-color:#f4f4f4;
    color: #555555;
font-family:Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: medium;}
    a{background-color: black;
        color: white;}
        table{
            line-height:1.5em;
        }
p{border: black 5px solid;}
.box-1{ width: 80%;
    margin: auto;
}

