body{
    background-color:black;
    color: white;
font-family:Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: medium;
background-image:url(https://media.tenor.com/images/38f210347bd0742d729b13256dac675a/tenor.gif);
margin:auto

}
    a{background-color: black;
        color: white;}
        table{background-color:black;
            line-height:1.5em;
            
        }
p{border: white 5px solid;}
.box-1{ width: 80%;
    background-color: black;
    color: white;
}
h4{
    color:white;  border: black 5px solids;
    background-color: black;
}

